<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

  {% include head.html %}
  <link rel="stylesheet" href="{{ "/design/semantic.min.css" | prepend: site.baseurl }}" />
  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{ "/design/semantic.min.js" | prepend: site.baseurl }}" ></script>
  <link rel="stylesheet" href="{{ "/assets/main.css" | prepend: site.baseurl }}">

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>